{% extends 'base.html.twig' %}

{% block body %}
    <h1>Infosutile</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ infosUtile.id }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ infosUtile.texte }}</td>
            </tr>
            <tr>
                <th>Dateheure</th>
                <td>{% if infosUtile.dateHeure %}{{ infosUtile.dateHeure|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ infosUtile.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('infosutiles_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('infosutiles_edit', { 'id': infosUtile.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
