{% extends 'base.html.twig' %}

{% block body %}
    <h1>News</h1>

    <table>
        <tbody>
            <tr>
                <th>Newsid</th>
                <td>{{ news.newsId }}</td>
            </tr>
            <tr>
                <th>Newsniveau</th>
                <td>{{ news.newsNiveau }}</td>
            </tr>
            <tr>
                <th>Newsnbre</th>
                <td>{{ news.newsNbre }}</td>
            </tr>
            <tr>
                <th>Newstitre</th>
                <td>{{ news.newsTitre }}</td>
            </tr>
            <tr>
                <th>Newsurl</th>
                <td>{{ news.newsUrl }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('news_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('news_edit', { 'newsId': news.newsId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
