{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annuairebornes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Annuaireid</th>
                <th>Borneid</th>
                <th>Distance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annuaireBorne in annuaireBornes %}
            <tr>
                <td><a href="{{ path('annuaireborne_show', { 'id': annuaireBorne.id }) }}">{{ annuaireBorne.id }}</a></td>
                <td>{{ annuaireBorne.annuaireId }}</td>
                <td>{{ annuaireBorne.borneId }}</td>
                <td>{{ annuaireBorne.distance }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('annuaireborne_show', { 'id': annuaireBorne.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('annuaireborne_edit', { 'id': annuaireBorne.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('annuaireborne_new') }}">Create a new annuaireBorne</a>
        </li>
    </ul>
{% endblock %}
