{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annuaireborne</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annuaireBorne.id }}</td>
            </tr>
            <tr>
                <th>Annuaireid</th>
                <td>{{ annuaireBorne.annuaireId }}</td>
            </tr>
            <tr>
                <th>Borneid</th>
                <td>{{ annuaireBorne.borneId }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ annuaireBorne.distance }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('annuaireborne_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('annuaireborne_edit', { 'id': annuaireBorne.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
