{% extends 'AppBundle:Base:base.html.twig' %}

{% block body %}
    <div class="container main-content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="widget-container fluid-height clearfix">
                    <div class="heading">
                        <i class="fa fa-bars"></i>Annuaire
                    </div>
                    <div class="widget-content padded">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <label class="control-label col-md-2">Nom</label>
                                <div class="col-md-7">
                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Adresse</label>
                                <div class="col-md-7">
                                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Ville</label>
                                <div class="col-md-7">
                                    {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Code Postal</label>
                                <div class="col-md-7">
                                    {{ form_widget(form.codePostal, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Description</label>
                                <div class="col-md-7">
                                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Mis en avant</label>
                                <div class="col-md-7">
                                    {{ form_widget(form.inFront, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Horaires</label>
                                <div class="col-md-7">
                                    {{ form_widget(form.horaires, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            {#<div class="form-group">#}
                                {#<label class="control-label col-md-2">Catégorie</label>#}
                                {#<div class="col-md-7">#}
                                    {#{{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}#}
                                {#</div>#}
                            {#</div>#}
                            <div class="form-group">
                                <label class="control-label col-md-2">Borne</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>Nom</span>
                                        </div>
                                        <div class="col-md-4 col-md-offset-2">
                                            <span>Distance</span>
                                        </div>
                                    </div>
                                    <div class="annuaireBorne" data-prototype="{{ form_widget(form.annuaireBorne.vars.prototype)|e('html_attr') }}">
                                        {% for annuaireBorne in form.annuaireBorne %}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{ form_widget(annuaireBorne.borne, {'attr' : {'class' : 'select2' }}) }}
                                                </div>
                                                <div class="col-md-4 col-md-offset-2">
                                                    {{ form_widget(annuaireBorne.distance, {'attr' : {'class' : 'form-control' }}) }}
                                                </div>
                                            </div>
                                            {{ form_widget(annuaireBorne.annuaire, {'attr' : {'class' : 'hidden'}}) }}
                                        {% endfor %}
                                    </div>
                                        {#<div class="row hidden" id="form_association">#}
                                            {#<div class="col-md-6">#}
                                                {#<select class="select2_" name="borne_"></select>#}
                                            {#</div>#}
                                            {#<div class="col-md-4">#}
                                                {#<input class="form-control" value="" name="borne_distance_">#}
                                            {#</div>#}
                                        {#</div>#}
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-default" id="addForm">Ajouter</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {#<div class="form-group">#}
                                {#<label class="control-label col-md-2">Status</label>#}
                                {#<div class="col-md-7">#}
                                    {#{{ form_widget(form.status, {'attr': {'class': 'select2able'}}) }}#}
                                {#</div>#}
                            {#</div>#}
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-2">
                                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                                </div>
                            </div>
                        {{ form_end(form) }}
                        {% if action == "edit" %}
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-9">
                                    {{ form_start(delete_form) }}
                                    <button class="btn btn-danger text-right" type="submit">Supprimer</button>
                                    {{ form_end(delete_form) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $('#addForm').click(function() {

        });
    </script>
{% endblock %}
