{% extends 'AppBundle:Base:base.html.twig' %}

{% block body %}
    <div class="container main-content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="widget-container fluid-height clearfix">
                    <div class="heading">
                        <i class="fa fa-bars"></i>Annuaire
                    </div>
                    <div class="widget-content padded">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <label class="control-label col-md-2">Nom</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Adresse</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Ville</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Code Postal</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.codePostal, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Description</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'style': 'height:200px'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Horaires</label>
                                <div class="col-md-10">
                                    {#{{ form_widget(form.horaires, {'attr': {'class': 'form-control'}}) }}#}
                                    <div class="col-md-6">
                                        <label>Lundi</label>
                                        {% if horaires.lun is defined %}
                                            {% for h in horaires.lun %}
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="lun[]" value="{{ h }}">
                                            </div>
                                            {% endfor %}
                                            {% if horaires.lun|length == 1 %}
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="08:00-12:00" name="lun[]" value="">
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="lun[]" value="">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="lun[]" value="">
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <label>Mardi</label>
                                        {% if horaires.mar is defined %}
                                            {% for h in horaires.mar %}
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="mar[]" value="{{ h }}">
                                            </div>
                                            {% endfor %}
                                            {% if horaires.mar|length == 1 %}
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="08:00-12:00" name="mar[]" value="">
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="mar[]" value="">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="mar[]" value="">
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <label>Mercredi</label>
                                        {% if horaires.mer is defined %}
                                            {% for h in horaires.mer %}
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="mer[]" value="{{ h }}">
                                            </div>
                                            {% endfor %}
                                            {% if horaires.mer|length == 1 %}
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="08:00-12:00" name="mer[]" value="">
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="mer[]" value="">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="mer[]" value="">
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <label>Jeudi</label>
                                        {% if horaires.jeu is defined %}
                                            {% for h in horaires.jeu %}
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="jeu[]" value="{{ h }}">
                                            </div>
                                            {% endfor %}
                                            {% if horaires.jeu|length == 1 %}
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="08:00-12:00" name="jeu[]" value="">
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="jeu[]" value="">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="jeu[]" value="">
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <label>Vendredi</label>
                                        {% if horaires.ven is defined %}
                                            {% for h in horaires.ven %}
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="ven[]" value="{{ h }}">
                                            </div>
                                            {% endfor %}
                                            {% if horaires.ven|length == 1 %}
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="08:00-12:00" name="ven[]" value="">
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="ven[]" value="">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="ven[]" value="">
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <label>Samedi</label>
                                        {% if horaires.sam is defined %}
                                            {% for h in horaires.sam %}
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="sam[]" value="{{ h }}">
                                            </div>
                                            {% endfor %}
                                            {% if horaires.sam|length == 1 %}
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="08:00-12:00" name="sam[]" value="">
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="sam[]" value="">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="sam[]" value="">
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <label>Dimanche</label>
                                        {% if horaires.dim is defined %}
                                            {% for h in horaires.dim %}
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="dim[]" value="{{ h }}">
                                            </div>
                                            {% endfor %}
                                            {% if horaires.dim|length == 1 %}
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="08:00-12:00" name="dim[]" value="">
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="dim[]" value="">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="08:00-12:00" name="dim[]" value="">
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Catégorie</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.categorie, {'attr': {'class': 'select2'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Bornes</label>
                                <div class="col-md-10">
                                    <div class="col-md-12 hidden-sm hidden-xs">
                                        <div class="col-xs-7">
                                            <span>Nom</span>
                                        </div>
                                        <div class="col-xs-4">
                                            <span>Distance</span>
                                        </div>
                                    </div>
                                    <div id="annuaireBorneDiv" data-prototype="{% filter escape %}{% include 'AppBundle:AnnuaireBorne:AnnuaireBorneCollection.html.twig' with {'form': form.annuaireBorne.vars.prototype} %}{% endfilter %}">
                                        {% for annuaireBorne in form.annuaireBorne %}
                                            <div class="row">
                                                <div class="col-xs-7">
                                                    {{ form_widget(annuaireBorne.borne, {'attr' : {'class' : 'select2 borneInput' }}) }}
                                                </div>
                                                <div class="col-xs-4">
                                                    {{ form_widget(annuaireBorne.distance, {'attr' : {'class' : 'form-control' }}) }}
                                                </div>
                                                <div class="deleteForm col-xs-1 pointer"><img src="{{ asset('bundles/app/images/cross_thin.png') }}" style="height: 20px;"></div>
                                                {{ form_widget(annuaireBorne.annuaire, {'attr' : {'class' : 'hidden', 'value' : annuaire.id ~ ""}}) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-default" id="addForm">Ajouter</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Images</label>
                                <div class="col-md-10">
                                    <div id="form_snippet_image">Upload</div>
                                </div>
                                <input type="hidden" name="newFiles" id="newFiles">
                                <input type="hidden" name="deletedFiles" id="deletedFiles">
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-2">
                                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                                </div>
                            </div>
                        {{ form_end(form) }}
                        {% if action == "edit" %}
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-9">
                                    {{ form_start(delete_form) }}
                                    <button class="btn btn-danger text-right" type="submit">Supprimer</button>
                                    {{ form_end(delete_form) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: "-- Select --",
                width: "100%",
                height: "34px",
            });
            $('#addForm').click(function(e) {
                e.preventDefault();
                var i = $('.borneInput').length;
                addAnnuuaireBorneForm(i);
            });
            $('.deleteForm').on('click', onDelete);

            function onDelete(e) {
                e.preventDefault();
                $(this).parent().remove();
                return false;
            }
            function addAnnuuaireBorneForm(index) {
                if ($('.select2.borneInput').length > 0 && $('.select2.borneInput').length >= $('.select2.borneInput:first option').length-1) {
                    return;
                }
                $('.select2.borneInput').select2('destroy');
                $('.borneInput').off('change', onchangeDisableOption).change();
                $('.deleteForm').off('click', onDelete);
                var annuaireBorneForm = $("#annuaireBorneDiv").data('prototype');
                annuaireBorneForm = annuaireBorneForm.replace('__name__', index);
                $('#annuaireBorneDiv').append(annuaireBorneForm);
                $('.select2').select2({
                  placeholder: "-- Select --",
                  width: "100%",
                  height: "34px",
                });
                $('.deleteForm').on('click', onDelete);
                $('.borneInput').on('change', onchangeDisableOption).change();
            }

            $('.borneInput').on('change', onchangeDisableOption).change();

            function onchangeDisableOption() {
                $('option').prop('disabled', false);
                $('.borneInput').each(function() {
                    var val = this.value;
                    $('.borneInput').not(this).find('option').filter(function() {
                        return this.value === val;
                    }).prop('disabled', true);
                });
            }

            var alreadyLoadedFiles = [
                {% if action == 'edit' %}
                    {% for annuaireImage in imagesAnnuaire %}
                        {
                            name: "{{ annuaireImage.url }}",
                            url:"/{{ constant('UPLOAD_DIR', image) ~ annuaireImage.url }}"
                        },
                    {% endfor %}
                {% endif %}
            ];

            var newFilesList = [];
            var deletedFilesList = [];

            $("#form_snippet_image").uploadFile({
                url:"{{ path('upload_img') }}",
                multiple:true,
                dragDrop:true,
                showDelete: true,
                fileName:"file",

                dragDropStr: "<span><b>Faites glisser et déposez les fichiers</b></span>",
                abortStr: "Annuler",
                deleteStr: "Supprimer",
                cancelStr: "Résilier",
                doneStr: "Fait",
                multiDragErrorStr: "Plusieurs Drag &amp; Drop de fichiers ne sont pas autorisés.",
                extErrorStr: "N'est pas autorisé. Extensions autorisées: ",
                sizeErrorStr: "N'est pas autorisé. Admis taille max:",
                uploadErrorStr: "Upload n'est pas autorisé",
                uploadStr: "Téléchargez",

                allowedTypes: "jpg, jpeg, png, gif",

                onload: function(obj) {
                    alreadyLoadedFiles.forEach(function(img){
                        obj.createProgress(img["name"],img["url"]);
                    });
                },
                onSuccess: function(files,data,xhr,pd) {
                    newFilesList.push(data.path);
                    $('#newFiles').val(newFilesList.join());
                },
                deleteCallback: function(data,pd) {
                    var index = newFilesList.indexOf(data.path);
                    if (index > -1) {
                        newFilesList.splice(index, 1);
                        $('#newFiles').val(newFilesList.join());
                    } else {
                        deletedFilesList.push(data.path);
                        $('#deletedFiles').val(deletedFilesList.join());
                    }
                    pd.statusbar.hide(); //You choice to hide/not.
                }
            });
        });
    </script>
{% endblock %}
