{% extends 'AppBundle:Base:base.html.twig' %}

{% block body %}
    <div class="container main-content">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="widget-container fluid-height clearfix">
                        <div class="heading">
                            <i class="fa fa-table"></i>Liste des Professionnels
                        </div>
                        <div class="widget-content padded clearfix">
                            <table class="table table-bordered table-striped" id="dataTable1">
                                <thead>
                                    <th class="check-header">
                                        <label><input id="checkAll" name="checkAll" type="checkbox"><span></span></label>
                                    </th>
                                    <th> Nom </th>
                                    <th> Ville </th>
                                    <th> Adresse </th>
                                    <th> Code Postal </th>
                                    {#<th> Bornes </th>#}
                                    <th> Status </th>
                                    <th> Modifier </th>
                                </thead>
                                <tbody>
                                {% for annuaire in annuaires %}
                                    <tr>
                                        <td class="check ">
                                            <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
                                        </td>
                                        <td> {{ annuaire.nom }} </td>
                                        <td> {{ annuaire.ville }} </td>
                                        <td> {{ annuaire.adresse }} </td>
                                        <td> {{ annuaire.codePostal }} </td>
                                        {#<td> {{ annuaire.borne }} </td>#}
                                        <td>
                                            {#{% if annuaire.status  == 1 %}#}
                                                {#<span class="label label-warning">Validé</span>#}
                                            {#{% elseif annuaire.status  == 1 %}#}
                                                {#<span class="label label-warning">Suspendu</span>#}
                                            {#{% elseif annuaire.status  == 1 %}#}
                                                {#<span class="label label-warning">En cours</span>#}
                                            {#{% elseif annuaire.status  == 1 %}#}
                                                {#<span class="label label-warning"></span>#}
                                            {#{% endif %}#}
                                        </td>
                                        <td class="actions">
                                            <div class="action-buttons">
                                                <a class="table-actions" href="{{ path('annuaire_edit', { 'id': annuaire.id }) }}"><i class="fa fa-pencil"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $('#dataTable1').dataTable();
    </script>
{% endblock %}