{% extends 'AppBundle:Base:base.html.twig' %}

{% block body %}
    <div class="container main-content">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="widget-container fluid-height clearfix">
                        <div class="heading">
                            <i class="fa fa-table"></i>Liste des Professionnels
                        </div>
                        <div class="heading">
                            <a href="{{ path('annuaire_new') }}">
                                <i class="fa fa-plus"></i>Ajouter un professionel
                            </a>
                        </div>
                        <div class="widget-content padded clearfix">
                            <table class="table table-bordered table-striped" id="dataTable1">
                                <thead>
                                    <th> Nom </th>
                                    <th> Ville </th>
                                    <th> Adresse </th>
                                    <th> Code Postal </th>
                                    {#<th> Bornes </th>#}
                                    <th> Status </th>
                                </thead>
                                <tbody>
                                {% for annuaire in annuaires %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('annuaire_edit', { 'id': annuaire.id }) }}">
                                                {{ annuaire.nom }}
                                            </a>
                                        </td>
                                        <td> {{ annuaire.ville }} </td>
                                        <td> {{ annuaire.adresse }} </td>
                                        <td> {{ annuaire.codePostal }} </td>
                                        {#<td> {{ annuaire.borne }} </td>#}
                                        <td>
                                            {#{% if annuaire.status  == 1 %}#}
                                                {#<span class="label label-warning">Validé</span>#}
                                            {#{% elseif annuaire.status  == 1 %}#}
                                                {#<span class="label label-warning">Suspendu</span>#}
                                            {#{% elseif annuaire.status  == 1 %}#}
                                                {#<span class="label label-warning">En cours</span>#}
                                            {#{% elseif annuaire.status  == 1 %}#}
                                                {#<span class="label label-warning"></span>#}
                                            {#{% endif %}#}
                                            {% if annuaire.status.libelle is defined %}
                                                {{ annuaire.status.libelle }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $('#dataTable1').dataTable();
    </script>
{% endblock %}