{% extends 'AppBundle:Base:base.html.twig' %}

{% block body %}
    <div class="container main-content">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="widget-container fluid-height clearfix">
                        <div class="heading">
                            <i class="fa fa-table"></i>Liste des catégories
                        </div>
                        <div class="heading">
                            <a href="{{ path('categorie_annuaire_new') }}">
                                <i class="fa fa-plus"></i>Ajouter une catgéorie
                            </a>
                        </div>
                        <div class="widget-content padded clearfix">
                            <table class="table table-bordered table-striped" id="dataTable1">
                                <thead>
                                    <th> Nom </th>
                                    <th> Actions </th>
                                </thead>
                                <tbody>
                                {% for categorie in categories %}
                                    <tr>
                                        <td> {{ categorie.nom }} </td>
                                        <td class="actions">
                                            <div class="action-buttons">
                                                <a class="table-actions" href="{{ path('categorie_annuaire_edit', { 'id': categorie.id }) }}"><i class="fa fa-pencil"></i></a>
                                                <a class="table-actions" href="{{ path('categorie_annuaire_delete', { 'id': categorie.id }) }}"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $('#dataTable1').dataTable();
    </script>
{% endblock %}
