{% extends 'AppBundle:Base:base.html.twig' %}

{% block body %}
    <div class="container main-content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="widget-container fluid-height clearfix">
                    <div class="heading">
                        <i class="fa fa-bars"></i>Bornes
                    </div>
                    <div class="widget-content padded">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <label class="control-label col-md-2">Nom</label>
                                <div class="col-md-7">
                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Adresse</label>
                                <div class="col-md-7">
                                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Ville</label>
                                <div class="col-md-7">
                                    {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Code Postal</label>
                                <div class="col-md-7">
                                    {{ form_widget(form.codePostal, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Status</label>
                                <div class="col-md-7">
                                    {{ form_widget(form.status, {'attr': {'class': 'select2'}}) }}
                                </div>
                            </div>
                                <div class="col-md-3 col-md-offset-2 {% if action == 'new' %}padB25{% endif %}">
                                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                                </div>
                        {{ form_end(form) }}
                        {% if action == "edit" %}
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-9 padB25">
                                    {{ form_start(delete_form) }}
                                    <button class="btn btn-danger text-right" type="submit">Supprimer</button>
                                    {{ form_end(delete_form) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: "-- Selectionnez --",
                width: "100%",
                height: "34px",
            });
        });
    </script>
{% endblock %}