{% extends 'AppBundle:Base:base.html.twig' %}

{% block body %}
    <div class="container main-content">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="widget-container fluid-height clearfix">
                        <div class="heading">
                            <i class="fa fa-table"></i>Liste des bornes
                        </div>
                        <div class="heading">
                            <a href="{{ path('borne_new') }}">
                                <i class="fa fa-plus"></i>Ajouter une borne
                            </a>
                        </div>
                        <div class="widget-content padded clearfix">
                            <table class="table table-bordered table-striped" id="dataTable1">
                                <thead>
                                    <th> Nom </th>
                                    <th> Ville </th>
                                    <th> Adresse </th>
                                    <th> Code Postal </th>
                                    <th> Status </th>
                                </thead>
                                <tbody>
                                {% for borne in bornes %}
                                    <tr>
                                        <td>
                                            <a class="table-actions" href="{{ path('borne_edit', { 'id': borne.id }) }}">
                                                {{ borne.nom }}
                                            </a>
                                        </td>
                                        <td> {{ borne.ville }} </td>
                                        <td> {{ borne.adresse }} </td>
                                        <td> {{ borne.codePostal }} </td>
                                        <td>
                                            {% if borne.status.libelle is defined %}
                                                {{ borne.status.libelle }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $('#dataTable1').dataTable();
    </script>
{% endblock %}