{% extends 'AppBundle:Base:base.html.twig' %}

{% form_theme form _self %}


{% block body %}
    <div class="container main-content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="widget-container fluid-height clearfix">
                    <div class="heading">
                        <i class="fa fa-bars"></i>Infos utiles
                    </div>
                    <div class="widget-content padded">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <label class="control-label col-md-2">Titre</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Texte</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.texte, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Type</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.type, {'attr': {'class': 'select2'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Date de publication</label>
                                <div class="col-md-5">
                                    <span>Du : </span>
                                    <div class="input-group date">
                                        {{ form_widget(form.debut_publication, {'attr': {'class': 'datepicker form-control', 'data-date-format': 'dd-mm-yyyy'}}) }}
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <span> au : </span>
                                    <div class="input-group date">
                                        {{ form_widget(form.fin_publication, {'attr': {'class': 'datepicker form-control', 'data-date-format': 'dd-mm-yyyy'}}) }}
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Borne</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.borne, {'attr': {'class': 'select2'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Status</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.status, {'attr': {'class': 'select2'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-2">
                                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                                </div>
                            </div>
                        {{ form_end(form) }}
                        {% if action == "edit" %}
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-9 padB25">
                                    {{ form_start(delete_form) }}
                                    <button class="btn btn-danger text-right" type="submit">Supprimer</button>
                                    {{ form_end(delete_form) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $('.select2').select2({
            placeholder: "-- Select --",
            width: "100%",
            height: "34px",
        });
        $('.datepicker').datepicker({
            language: "fr",
            autoclose: true
        })
    </script>
{% endblock %}
