{% extends 'AppBundle:Base:base.html.twig' %}

{% block body %}
    <div class="container main-content">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="widget-container fluid-height clearfix">
                        <div class="heading">
                            <i class="fa fa-table"></i>Liste des Infos utiles
                        </div>
                        <div class="widget-content padded clearfix">
                            <table class="table table-bordered table-striped" id="dataTable1">
                                <thead>
                                    <th> Titre </th>
                                    <th> Type</th>
                                    <th> Borne </th>
                                    <th> Status </th>
                                </thead>
                                <tbody>
                                {% for infoUtile in infosUtiles %}
                                    <tr>
                                        <td>
                                            <a class="table-actions" href="{{ path('infosutiles_edit', { 'id': infoUtile.id }) }}">
                                                {{ infoUtile.id }}
                                            </a>
                                        </td>
                                        <td> {{ infoUtile.Type }} </td>
                                        <td> {{ infoUtile.Borne }} </td>
                                        <td>
                                            {% if infoUtile.status.libelle is defined %}
                                                {{ infoUtile.status.libelle }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $('#dataTable1').dataTable();
    </script>
{% endblock %}