{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imagesannuaires list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Infront</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imagesAnnuaire in imagesAnnuaires %}
            <tr>
                <td><a href="{{ path('imagesannuaire_show', { 'id': imagesAnnuaire.id }) }}">{{ imagesAnnuaire.id }}</a></td>
                <td>{{ imagesAnnuaire.url }}</td>
                <td>{% if imagesAnnuaire.inFront %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('imagesannuaire_show', { 'id': imagesAnnuaire.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('imagesannuaire_edit', { 'id': imagesAnnuaire.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imagesannuaire_new') }}">Create a new imagesAnnuaire</a>
        </li>
    </ul>
{% endblock %}
