{% extends 'base.html.twig' %}

{% block body %}
    <h1>Petitesannonce</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ petitesAnnonce.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ petitesAnnonce.titre }}</td>
            </tr>
            <tr>
                <th>Annonce</th>
                <td>{{ petitesAnnonce.annonce }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ petitesAnnonce.telephone }}</td>
            </tr>
            <tr>
                <th>Dateheure</th>
                <td>{% if petitesAnnonce.dateHeure %}{{ petitesAnnonce.dateHeure|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ petitesAnnonce.prix }}</td>
            </tr>
            <tr>
                <th>Nombrevues</th>
                <td>{{ petitesAnnonce.nombreVues }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('petitesannonces_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('petitesannonces_edit', { 'id': petitesAnnonce.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
