{% extends 'AppBundle:Base:base.html.twig' %}

{% block body %}
    <div class="container main-content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="widget-container fluid-height clearfix">
                    <div class="heading">
                        <i class="fa fa-bars"></i>Type d'infos utile
                    </div>
                    <div class="widget-content padded">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <label class="control-label col-md-2">Nom</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Images</label>
                                <div class="col-md-10">
                                    <div id="form_snippet_image">... Chargement ...</div>
                                </div>
                                {{ app.session.set('imageFormId', form.image.vars.id) }}
                                {{ form_widget(form.image, {'attr': {'class': 'hidden'}}) }}
                            </div>

                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-2">
                                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                                </div>
                            </div>
                        {{ form_end(form) }}
                        {% if action == "edit" %}
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-9 padB25">
                                    {{ form_start(delete_form) }}
                                    <button class="btn btn-danger text-right" type="submit">Supprimer</button>
                                    {{ form_end(delete_form) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function() {
            {% set imageFormId = app.session.get('imageFormId') %}
            var alreadyLoadedFiles = [
                {% if action == 'edit' and typesInfosUtile.image is not null %}
                {
                    name: "{{ typesInfosUtile.image }}",
                    url: "/wellcom/{{ constant('AppBundle\\Entity\\Image::UPLOAD_DIR') ~ typesInfosUtile.image }}"
                },
                {% endif %}
            ];

            $("#form_snippet_image").uploadFile({
                url: "{{ path('upload_img') }}",
                multiple: false,
                dragDrop: true,
                showDelete: true,
                showPreview: true,
                showFileSize: false,
                maxFileCount: 1,
                fileName: "file",

                dragDropStr: "<span><b>Faites glisser et déposez les fichiers</b></span>",
                abortStr: "Annuler",
                deleteStr: "Supprimer",
                cancelStr: "Résilier",
                doneStr: "Fait",
                multiDragErrorStr: "Plusieurs Drag &amp; Drop de fichiers ne sont pas autorisés.",
                extErrorStr: "n'est pas autorisé. Extensions autorisées: ",
                sizeErrorStr: "n'est pas autorisé. Admis taille max:",
                uploadErrorStr: "upload n'est pas autorisé",
                uploadStr: "Téléchargez",
                maxFileCountErrorStr: "n'est pas autorisé. Supprimez d'abord l'image avant d'en uploader une nouvelle.",

                allowedTypes: "jpg, jpeg, png, gif",

                onLoad: function (obj) {
                    alreadyLoadedFiles.forEach(function (img) {
                        obj.createProgress(img["name"], img["url"]);
                    });
                },
                onSuccess: function (files, data, xhr, pd) {
                    $('#{{ imageFormId }}').val(data.path);
                },
                deleteCallback: function (data, pd) {
                    $('#{{ imageFormId }}').val('');
                    pd.statusbar.hide(); //You choice to hide/not.
                }
            });
        });
    </script>
{% endblock %}
