{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annuaires list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Distance</th>
                <th>Adresse</th>
                <th>Infront</th>
                <th>Nombrevues</th>
                <th>Horaires</th>
                <th>Description</th>
                <th>Ville</th>
                <th>Codepostal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annuaire in annuaires %}
            <tr>
                <td><a href="{{ path('annuaire_show', { 'id': annuaire.id }) }}">{{ annuaire.id }}</a></td>
                <td>{{ annuaire.nom }}</td>
                <td>{{ annuaire.distance }}</td>
                <td>{{ annuaire.adresse }}</td>
                <td>{% if annuaire.inFront %}Yes{% else %}No{% endif %}</td>
                <td>{{ annuaire.nombreVues }}</td>
                <td>{{ annuaire.horaires }}</td>
                <td>{{ annuaire.description }}</td>
                <td>{{ annuaire.ville }}</td>
                <td>{{ annuaire.codePostal }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('annuaire_show', { 'id': annuaire.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('annuaire_edit', { 'id': annuaire.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('annuaire_new') }}">Create a new annuaire</a>
        </li>
    </ul>
{% endblock %}
