{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annuaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annuaire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ annuaire.nom }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ annuaire.distance }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ annuaire.adresse }}</td>
            </tr>
            <tr>
                <th>Infront</th>
                <td>{% if annuaire.inFront %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Nombrevues</th>
                <td>{{ annuaire.nombreVues }}</td>
            </tr>
            <tr>
                <th>Horaires</th>
                <td>{{ annuaire.horaires }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annuaire.description }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ annuaire.ville }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ annuaire.codePostal }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('annuaire_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('annuaire_edit', { 'id': annuaire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
